body {
  font-family: Arial, sans-serif;
  background-color: rgb(39, 113, 210);
  margin: 10px;
  padding: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  color: #333;
}

#weather-container {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 2px solid #29c64b;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#city-input {
  padding: 8px;
  margin: 5px;
  font-size: 1em;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#get-weather {
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #710707;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #e73c97;
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 1.5;
  transition: background-color 0.3s ease;
}

#weather-display {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  background-color: #ddc8c3;
  color: rgb(55, 162, 91);
  padding: 15px;
  border: 1px solid rgb(55, 162, 91);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}